body
  background-color #f7fbfc
  font-family 'Source Sans Pro', sans-serif
  font-weight 300
  color #222222

.number
  display block
  margin 20px auto
  text-align center
  font-weight 700
  font-size 80px
  line-height 130px
  color: #E74C3C


.button
  background-color #E74C3C
  font-family 'Source Sans Pro', sans-serif
  font-weight 700

.code
  font-family 'Source Code Pro', sans-serif

input.spreadsheet-link
  font-family 'Source Code Pro', sans-serif
  color: #1ABC9C
  text-align center

header
  h1
    font-family 'Source Sans Pro', sans-serif
    font-size 3em
    font-weight 300
    margin 5%
    color #222222


h3
  font-size 1.5em
  text-align center

p.step-text
  font-family 'Source Sans Pro', sans-serif

