body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #222;
}
.shadeback {
  background-color: #ffffe0;
}
.number {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  line-height: 130px;
  color: #e74c3c;
}
.header-image {
  height: 80px;
  width: 80px;
}
.button {
  background-color: #e74c3c;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
.code {
  font-family: 'Source Code Pro', sans-serif;
}
input.spreadsheet-link {
  font-family: 'Source Code Pro', sans-serif;
  color: #1abc9c;
  text-align: center;
}
header {
  background: #f1f1f1;
}
header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em;
  font-weight: 300;
  margin: 10%;
  color: #222;
}
h3 {
  font-size: 1.5em;
}
h3 .step {
  text-align: center;
}
p.step-text {
  font-family: 'Source Sans Pro', sans-serif;
}
